span.icon {
  min-height: 1.25rem;
  min-width: 1.25rem;
  margin: 1px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
span.icon.medium {
  min-height: 2.5rem;
  min-width: 2.5rem;
}
span.icon.item.Swords {
  background-image: url( "images/weapon_types/Swords.png" );
}
span.icon.item.Daggers {
  background-image: url( "images/weapon_types/Daggers.png" );
}
span.icon.item.Spears {
  background-image: url( "images/weapon_types/Spears.png" );
}
span.icon.item.Axes {
  background-image: url( "images/weapon_types/Axes.png" );
}
span.icon.item.Maces {
  background-image: url( "images/weapon_types/Maces.png" );
}
span.icon.item.Staves {
  background-image: url( "images/weapon_types/Staves.png" );
}
span.icon.item.Guns {
  background-image: url( "images/weapon_types/Guns.png" );
}
span.icon.item.Bows {
  background-image: url( "images/weapon_types/Bows.png" );
}
span.icon.item.Armor {
  background-image: url( "images/weapon_types/Armor.png" );
}
span.icon.item.Vests {
  background-image: url( "images/weapon_types/Vests.png" );
}
span.icon.item.Clothes {
  background-image: url( "images/weapon_types/Clothes.png" );
}
span.icon.item.Helmets {
  background-image: url( "images/weapon_types/Helmets.png" );
}
span.icon.item.Hats {
  background-image: url( "images/weapon_types/Hats.png" );
}
span.icon.item.Gauntlets {
  background-image: url( "images/weapon_types/Gauntlets.png" );
}
span.icon.item.Bracers {
  background-image: url( "images/weapon_types/Bracers.png" );
}
span.icon.item.Boots {
  background-image: url( "images/weapon_types/Boots.png" );
}
span.icon.item.Footwear {
  background-image: url( "images/weapon_types/Footwear.png" );
}
span.icon.item.Shields {
  background-image: url( "images/weapon_types/Shields.png" );
}
span.icon.item.Projectiles {
  background-image: url( "images/weapon_types/Projectiles.png" );
}
span.icon.item.Remedies {
  background-image: url( "images/weapon_types/Remedies.png" );
}
span.icon.item.Potions {
  background-image: url( "images/weapon_types/Potions.png" );
}
span.icon.item.Spells {
  background-image: url( "images/weapon_types/Spells.png" );
}
span.icon.item.Rings {
  background-image: url( "images/weapon_types/Rings.png" );
}
span.icon.item.Pendants {
  background-image: url( "images/weapon_types/Pendants.png" );
}
span.icon.item.Instruments {
  background-image: url( "images/weapon_types/Instruments.png" );
}
span.icon.skill.SpeedRunner {
  background-image: url( "images/skills/SpeedRunner.png" );
}
span.icon.skill.Leader {
  background-image: url( "images/skills/Leader.png" );
}
span.icon.skill.Healer {
  background-image: url( "images/skills/Healer.png" );
}
span.icon.skill.Energetic {
  background-image: url( "images/skills/Energetic.png" );
}
span.icon.skill.Revive {
  background-image: url( "images/skills/Revive.png" );
}
span.icon.skill.Support {
  background-image: url( "images/skills/Support.png" );
}
span.icon.skill.Resourceful {
  background-image: url( "images/skills/Resourceful.png" );
}
span.icon.skill.Fastidious {
  background-image: url( "images/skills/Fastidious.png" );
}
span.icon.skill.Supplier {
  background-image: url( "images/skills/Supplier.png" );
}
span.icon.skill.Gangster {
  background-image: url( "images/skills/Gangster.png" );
}
span.icon.skill.Amazon {
  background-image: url( "images/skills/Amazon.png" );
}
span.icon.skill.Brosinarms {
  background-image: url( "images/skills/Brosinarms.png" );
}
span.icon.skill.Protector {
  background-image: url( "images/skills/Protector.png" );
}
span.icon.skill.AuraofProtection {
  background-image: url( "images/skills/AuraofProtection.png" );
}
span.icon.skill.Commander {
  background-image: url( "images/skills/Commander.png" );
}
span.icon.skill.ArchWizard {
  background-image: url( "images/skills/ArchWizard.png" );
}
span.icon.skill.Cleave {
  background-image: url( "images/skills/Cleave.png" );
}
span.icon.skill.Crush {
  background-image: url( "images/skills/Crush.png" );
}
span.icon.skill.Berserker {
  background-image: url( "images/skills/Berserker.png" );
}
span.icon.skill.Backstab {
  background-image: url( "images/skills/Backstab.png" );
}
span.icon.skill.Parry {
  background-image: url( "images/skills/Parry.png" );
}
span.icon.skill.Stoneskin {
  background-image: url( "images/skills/Stoneskin.png" );
}
span.icon.skill.Riposte {
  background-image: url( "images/skills/Riposte.png" );
}
span.icon.skill.MageArmor {
  background-image: url( "images/skills/MageArmor.png" );
}
span.icon.skill.Coneofcold {
  background-image: url( "images/skills/Coneofcold.png" );
}
span.icon.skill.Thunderbolt {
  background-image: url( "images/skills/Thunderbolt.png" );
}
span.icon.skill.Fireball {
  background-image: url( "images/skills/Fireball.png" );
}
span.icon.skill.Resilient {
  background-image: url( "images/skills/Resilient.png" );
}
span.icon.skill.Wise {
  background-image: url( "images/skills/Wise.png" );
}
span.icon.skill.Lucky {
  background-image: url( "images/skills/Lucky.png" );
}
span.icon.skill.Shadowstep {
  background-image: url( "images/skills/Shadowstep.png" );
}
span.icon.skill.GoldDigger {
  background-image: url( "images/skills/GoldDigger.png" );
}
span.icon.skill.TreasureHunter {
  background-image: url( "images/skills/TreasureHunter.png" );
}
span.icon.skill.Scavenger {
  background-image: url( "images/skills/Scavenger.png" );
}
span.icon.skill.DetectSecrets {
  background-image: url( "images/skills/DetectSecrets.png" );
}
span.icon.skill.MagicFind {
  background-image: url( "images/skills/MagicFind.png" );
}
span.icon.hero.Karal {
  background-image: url( "images/heroes/Karal.png" );
}
span.icon.hero.Theor {
  background-image: url( "images/heroes/Theor.png" );
}
span.icon.hero.Clovis {
  background-image: url( "images/heroes/Clovis.png" );
}
span.icon.hero.Gauvin {
  background-image: url( "images/heroes/Gauvin.png" );
}
span.icon.hero.Lancaster {
  background-image: url( "images/heroes/Lancaster.png" );
}
span.icon.hero.Fiora {
  background-image: url( "images/heroes/Fiora.png" );
}
span.icon.hero.Kurul {
  background-image: url( "images/heroes/Kurul.png" );
}
span.icon.hero.Edward {
  background-image: url( "images/heroes/Edward.png" );
}
span.icon.hero.Alicia {
  background-image: url( "images/heroes/Alicia.png" );
}
span.icon.hero.Garreth {
  background-image: url( "images/heroes/Garreth.png" );
}
span.icon.hero.Palash {
  background-image: url( "images/heroes/Palash.png" );
}
span.icon.hero.Mila {
  background-image: url( "images/heroes/Mila.png" );
}
span.icon.hero.Irene {
  background-image: url( "images/heroes/Irene.png" );
}
span.icon.hero.Darthos {
  background-image: url( "images/heroes/Darthos.png" );
}
span.icon.hero.Odette {
  background-image: url( "images/heroes/Odette.png" );
}
span.icon.hero.Louca {
  background-image: url( "images/heroes/Louca.png" );
}
span.icon.hero.KuroShobi {
  background-image: url( "images/heroes/KuroShobi.png" );
}
span.icon.hero.Lorelei {
  background-image: url( "images/heroes/Lorelei.png" );
}
span.icon.hero.Melina {
  background-image: url( "images/heroes/Melina.png" );
}
span.icon.hero.Minh {
  background-image: url( "images/heroes/Minh.png" );
}
span.icon.hero.Albert {
  background-image: url( "images/heroes/Albert.png" );
}
span.icon.hero.Nya {
  background-image: url( "images/heroes/Nya.png" );
}
span.icon.hero.Oneira {
  background-image: url( "images/heroes/Oneira.png" );
}
span.icon.hero.Azula {
  background-image: url( "images/heroes/Azula.png" );
}
span.icon.hero.Francesca {
  background-image: url( "images/heroes/Francesca.png" );
}
span.icon.hero.Mojian {
  background-image: url( "images/heroes/Mojian.png" );
}
span.icon.hero.Charles {
  background-image: url( "images/heroes/Charles.png" );
}
span.icon.affinity1 {
  border-radius: 0.25rem;
  background-color: rgba( 0, 204, 102, 0.8 );
}
span.icon.affinity0 {
  border-radius: 0.25rem;
  background-color: rgba( 255, 194, 102, 0.8 );
}
span.icon.affinity-1 {
  border-radius: 0.25rem;
  background-color: rgba( 255, 92, 51, 0.8 );
}
span.icon.affinity-2 {
  border-radius: 0.25rem;
  background-color: rgba( 179, 0, 0, 0.8 );
}
span.icon.Power {
  background-image: url( "images/Power.png" );
}