html * {
  box-sizing: border-box;
}

#tabs {
  height: 100%;
}
#tabs-data div {
  padding: 2px 5px;
}
#tabs-data-type {
  min-width: 150px;
}
#tabs-data-json {
  width: 100%;
  min-height: 200px;
}
.ui-tabs .ui-tabs-panel {
  padding: 0.2rem 0.2rem !important; 
}

table.shopheroes {
  font-size: 1rem;
  font-family: Arial Tahoma Calibri;
  width: flex;
}
table.shopheroes tr {
  height: 1.5rem;
  line-height: 1.5rem;
}
table.shopheroes tr.split {
  line-height: 2px;
  height: 2px;
  max-height: 2px;
  min-height: 2px;
}
table.shopheroes th {
  padding: 1px 2px;
  font-weight: bold;
  text-align: center;
  background-color: #E9E9E9;
}
table.shopheroes td {
  padding: 1px 2px;
  text-align: center;
  background-color: #F6F6F6;
}

table.shopheroes th.slot {
  max-width: 20px;
  min-width: 20px;
}
table.shopheroes th.name {
  min-width: 14rem;
  width: 14rem;
}
table.shopheroes th.item {
  min-width: 10rem;
  width: 10rem;
}
table.shopheroes th.type {
  min-width: 8rem;
  width: 8rem;
}
table.shopheroes th.power {
  min-width: 7rem;
  width: 7rem;
}
table.shopheroes th.level {
  min-width: 8rem;
  width: 8rem;
}

table.shopheroes.item th.item {
  width: 14rem;
}
table.shopheroes.hero th.type {
  min-width: 11rem;
  width: 11rem;
}

table.shopheroes.team th.item {
  min-width: 12%;
  min-width: calc((100%-25px)/8);
  width: 12%;
  width: calc((100%-25px)/8);
}
table.shopheroes.team th.name {
  min-width: 110px;
  width: 110px;
}

table.shopheroes .select2-container .select2-selection--multiple,
table.shopheroes .select2-container .select2-selection--single {
  line-height: 1.4rem !important;
  height: 1.4rem !important;
}
table.shopheroes .select2-container .select2-selection--multiple .select2-selection__choice,
table.shopheroes .select2-container .select2-search--inline .select2-search__field {
  margin: 1px 2px !important;
}


table.shopheroes .select2-container .select2-selection--single .select2-selection__arrow,
table.shopheroes .select2-container .select2-selection--single .select2-selection__clear {
  height: 1.25rem !important;
}
table.shopheroes .select2-container .select2-selection--single .select2-selection__clear {
  margin-left: 3px;
}
table.shopheroes .select2-container .select2-selection--single .select2-selection__rendered {
  height: 1.3rem !important;
  line-height: 1.2rem !important;
}

table.shopheroes .select2-container {
  font-weight: normal !important;
}

.select2-results__option {
  line-height: 1.4rem;
  font-size: 0.85rem;
  padding: 1px 3px;
}

.select2-results__option span {
  vertical-align: middle;
}

table.shopheroes select {
  font-weight: normal !important;
}
table.shopheroes input {
  font-weight: normal !important;
  vertical-align: middle;
}
table.shopheroes input.name {
  width: 100%;
}
table.shopheroes input.lv {
  max-width: 3rem;
  text-align: center;
}
table.shopheroes .data-info {
  font-size: 0.85rem;
  vertical-align: middle;
  line-height: 1.4rem;
}
table.shopheroes .data-info th,
table.shopheroes .data-info td {
  padding: 2px 4px;
}
table.shopheroes .data-info * {
  vertical-align: middle;
}

table.shopheroes .collapse {
  display: inline;
  text-align: left;
  margin-left: 0.2rem;
  float: left;
  width: auto !important; 
}

table.shopheroes .inactive {
  text-decoration: line-through;
}

table.shopheroes span.button.hidden {
  visibility: hidden;
}

table.shopheroes span.button {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.5rem;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  cursor: pointer;
  background-image: url( "../jquery/images/ui-icons_444444_256x240.png" );
}

table.shopheroes span.button.undo {
  background-position:-64px -64px;
}
table.shopheroes span.button.redo {
  background-position:-96px -64px;
}
table.shopheroes span.button.add {
  background-position:-16px -128px;
}
table.shopheroes span.button.remove {
  background-position: -176px -96px;
}
table.shopheroes span.button.edit {
  background-position: -64px -112px;
}
table.shopheroes span.button.apply {
  background-position: -64px -144px;
}

.float-~ {
  display: inline-block; !important
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.left {
  text-align: left !important;
}

.icon-sortable {
  margin-top: 0.2rem;
  display: inline-block;
  font-size: 0.50rem;
  vertical-align: middle;
  cursor: pointer;
}
.icon-sortable.asc span.bot {
  visibility: hidden;
}
.icon-sortable.desc span.top {
  visibility: hidden;
}
.icon-sortable span.top {
  display: block;
  position: relative;
  vertical-align: top;
  line-height: 0.6rem;
  height: 0.6rem;
}
.icon-sortable span.bot {
  display: block;
  position: relative;
  vertical-align: bottom;
  line-height: 0.6rem;
  height: 0.6rem;
}