html * {
  box-sizing: border-box;
}
body * {
  box-sizing: border-box;
}

#tabs {
  height: 100%;
}
#tabs-data div {
  padding: 2px 5px;
}
#tabs-data-type {
  min-width: 150px;
}
#tabs-data-json {
  width: 100%;
  min-height: 200px;
}
.ui-tabs .ui-tabs-panel {
  padding: 0.2em 0.2em !important; 
}

table.shopheroes {
  font-size: 1em;
  font-family: Arial Tahoma Calibri;
  width: flex;
}
table.shopheroes tr {
  /*line-height: 1.5em;*/
  /*min-height: 1.5em;*/
}
table.shopheroes tr.split {
  line-height: 2px;
  height: 2px;
  max-height: 2px;
  min-height: 2px;
}
table.shopheroes th {
  padding: 1px 3px;
  text-align: center;
  font-weight: bold;
  background-color: #E9E9E9;
}
table.shopheroes td {
  padding: 1px 3px;
  font-size: 0.9em;
  text-align: center;
  background-color: #F6F6F6;
}

table.shopheroes th.slot {
  max-width: 45px;
  min-width: 45px;
}
table.shopheroes.team th.item {
  min-width: calc((100%-45)/8);
  width: calc((100%-45)/8);
}
table.shopheroes th.name {
  min-width: 9em;
  width: 9em;
}
table.shopheroes.item th.name {
  width: 11em;
}
table.shopheroes th.item {
  min-width: 10em;
  width: 10em;
}
table.shopheroes.item th.item {
  width: 12em;
}
table.shopheroes th.type {
  min-width: 7em;
  width: 7em;
}
table.shopheroes th.power {
  min-width: 6em;
  width: 7em;
}
table.shopheroes th.level {
  min-width: 7em;
  width: 7em;
}

table.shopheroes .select2-container .select2-selection--multiple,
table.shopheroes .select2-container .select2-selection--single {
  line-height: 1.5em !important;
  min-height: 1.5em !important;
  height: auto !important;
  font-size: 100% !important;
}
table.shopheroes .select2-container .select2-selection--multiple .select2-selection__choice,
table.shopheroes .select2-container .select2-search--inline .select2-search__field {
  margin: 1px 2px !important;
}


table.shopheroes .select2-container .select2-selection--single .select2-selection__arrow,
table.shopheroes .select2-container .select2-selection--single .select2-selection__clear {
  min-height: 1.5em !important;
  height: 1.5em !important;
}
table.shopheroes .select2-container .select2-selection--single .select2-selection__rendered {
  min-height: 1.5em !important;
  line-height: 1.5em !important;
}

table.shopheroes .select2-container {
  font-weight: normal !important;
}
table.shopheroes select {
  font-size: 0.8em;
  line-height: 1.5em;
  min-height: 1.5em;
  font-weight: normal !important;
}
table.shopheroes input {
  font-size: 0.8em;
  font-weight: normal !important;
}
table.shopheroes input.name {
  width: 100%;
}
table.shopheroes input.lv {
  max-width: 3em;
  text-align: center;
}

table.shopheroes span.skill-info {
  font-size: 0.9em;
  line-height: 1.5em;
}
table.shopheroes span.power-info {
  line-height: 1.5em;
  height: 100%;
}

table.shopheroes .left {
  text-align: left;
}
table.shopheroes .right {
  text-align: right;
}
table.shopheroes .float {
  display: inline-block;
}
table.shopheroes .float.left {
  float: left;
}
table.shopheroes .float.right {
  float: right;
}

table.shopheroes .collapse {
  display: inline;
  text-align: left;
  margin-left: 0.2em;
  float: left;
  width: auto !important; 
}

table.shopheroes .inactive {
  text-decoration: line-through;
}

table.shopheroes span.button.hidden {
  visibility: hidden;
}

table.shopheroes span.button {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.5em;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  cursor: pointer;
  background-image: url( "../jquery/images/ui-icons_444444_256x240.png" );
}

table.shopheroes span.button.undo {
  background-position:-64px -64px;
}
table.shopheroes span.button.redo {
  background-position:-96px -64px;
}
table.shopheroes span.button.add {
  background-position:-16px -128px;
}
table.shopheroes span.button.remove {
  background-position: -176px -96px;
}
table.shopheroes span.button.edit {
  background-position: -64px -112px;
}
table.shopheroes span.button.apply {
  background-position: -64px -144px;
}