.htooltip span {
	background-color: #F6F6F6;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	margin-right: -50%;
	margin-top: 1.5rem;
	opacity: 0;
	padding: 0.25rem 0.5em;
	position: absolute;
	text-decoration: none;
  white-space: pre;
	visibility: hidden;
	z-index: 10;
  text-align: justify;
  font-weight: normal;
  font-size: 0.9rem;
}
.htooltip:hover span {
	opacity: 1;
	visibility: visible;
}
.htooltip {
  vertical-align: middle;
  display: inline-block;
  /*line-height: 1.5em;*/
}
.htooltip.info {
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  cursor: help;
  background-image: url( "../jquery/images/ui-icons_444444_256x240.png" );
  background-position: -16px -144px;
}