<!DOCTYPE html>
<html>
  <head>
    <title>Shop Heroes Team Builder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <meta name="Description" content=""/>
    <link rel="stylesheet" type="text/css" href="jquery/css/jquery-ui.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="select2/css/select2.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="css/sh.css?v=1" media="screen"/>
    <link rel="stylesheet" type="text/css" href="css/tooltip.css?v=1" media="screen"/>
    <script type="text/javascript" src="jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="jquery/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="select2/js/select2.min.js"></script>
    <script type="text/javascript" src="vue/js/vue.js"></script>
    <script type="text/javascript" src="js/styles.js?v=1"></script>
    <script type="text/javascript" src="js/cache.js?v=1"></script>
    <script type="text/javascript" src="data/supplementaries.js?v=1"></script>
    <script type="text/javascript" src="data/skills.js?v=1"></script>
    <script type="text/javascript" src="data/buildings.js?v=1"></script>
    <script type="text/javascript" src="data/items.js?v=1"></script>
    <script type="text/javascript" src="data/heroes.js?v=1"></script>
    <script type="text/javascript" src="js/main.js?v=1"></script>
  </head>
  <body>
    <div id="tabs">
      <ul>
        <li>
          <a href="#tabs-heroes">Heroes</a>
        </li>
        <li>
          <a href="#tabs-teams">Teams</a>
        </li>
        <li>
          <a href="#tabs-items">Items</a>
        </li>
        <li>
          <a href="#tabs-buildings">Buildings</a>
        </li>
        <li>
          <a href="#tabs-data">Data</a>
        </li>
      </ul>
      <div id="tabs-data">
        <div>
          <select id="tabs-data-type">
            <option value="supplementaries">Supplementaries</option>
            <option value="skills">Skills</option>
            <option value="buildings">Buildings</option>
            <option value="items">Items</option>
            <option value="heroes">Heroes</option>
            <option value="teams">Teams</option>
          </select>
          <input id="tabs-data-load" type="button" value="Load Base"/>
          <input id="tabs-data-clean" type="button" value="Clean Customs"/>
          <input id="tabs-data-get" type="button" value="Get Customs"/>
          <input id="tabs-data-set" type="button" value="Set Customs"/>
        </div>
        <div>
          <textarea id="tabs-data-json"></textarea>
        </div>
      </div>
      <div id="tabs-heroes">
      </div>
      <div id="tabs-teams">
      </div>
      <div id="tabs-items">
      </div>
      <div id="tabs-buildings">
      </div>
    </div>
  </body>
  <script type="text/x-template" id="templates-select2">
    <select>
      <slot/>
    </select>
  </script>
  <script type="text/x-template" id="templates-power">
    <div v-if="power.value">
      <span class="power">
        {{Math.round( power.value, 0 ).toLocaleString()}}
      </span>
      <span class="htooltip" v-if="!!power.info">
        <span>{{power.info}}</span>
      </span>
    </div>
  </script>
  <script type="text/x-template" id="templates-skill">
    <div v-if="skill">
      <input v-if="m" type="checkbox" class="float-right" v-model="skill.m" />
      <span :class="{inactive: !v && !m && !skill.active}" class="float-left">
        <span class="htooltip">
          <span>{{summary.info}}</span>
        </span>
        {{skill.name}}
      </span>
      <span class="float-right">
        {{summary.value}}
      </span>
    </div>
  </script>
  <script type="text/x-template" id="templates-items">
    <div>
      <table class="shopheroes item">
        <tbody>
          <tr class="split">
            <th class="item"></th>
            <th class="type"></th>
            <th class="lv"></th>
            <th class="power"></th>
            <th class="item"></th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Level</th>
            <th>Power</th>
            <th>Skill</th>
          </tr>
          <tr>
            <td>
              <div>
                <input type="search" placeholder="Type in name" class="name" v-model="filters.name"/>
              </div>
            </td>
            <td>
              <div>
                <select2 v-model="filters.type" :options="options.type" :placeholder="'Choose type'" :style="'width: 100%;'"/>
              </div>
            </td>
            <td>
              <div>
                <input class="lv" v-model="filters.lv.min"/>
                <span>&nbsp;-&nbsp;</span>
                <input class="lv" v-model="filters.lv.max"/>
              </div>
            </td>
            <td/>
            <td>
              <div>
                <select2 v-model="filters.skill" :options="options.skill" :placeholder="'Choose skill'" :tags="true" :style="'width: 100%;'"/>
              </div>
            </td>
          </tr>
          <tr class="header">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <item v-for="( item, i ) in items" v-show="visible( item )" :item="item" :key="i"/>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
  </script>
  <script type="text/x-template" id="templates-item">
      <tr>
        <td>
          <div>
            {{item.name}}
          </div>
        </td>
        <td>
          <div>
            {{item.type}}
          </div>
        </td>
        <td>
          <div>
            {{item.lv}}
          </div>
        </td>
        <td>
          <div>
            <power :power="{ value: item.power }"/>
          </div>
        </td>
        <td>
          <skill :skill="item.skill" :m="true" />
        </td>
      </tr>
  </script>
  <script type="text/x-template" id="templates-buildings">
    <div>
      <table class="shopheroes building">
        <tbody>
          <tr class="split">
            <th class="name"></th>
            <th class="type"></th>
            <th class="lv"></th>
            <th class="lv"></th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Level</th>
            <th>CJs Level</th>
          </tr>
          <tr>
            <td>
              <div>
                <input type="search" placeholder="Type in name" class="name" v-model="filters.name"/>
              </div>
            </td>
            <td>
              <div>
                <select2 v-model="filters.type" :options="options.type.list" :placeholder="'Choose type'" :style="'width: 100%;'"/>
              </div>
            </td>
            <td>
              <div>
                <input class="lv" v-model="filters.lv.min"/>
                <span>&nbsp;-&nbsp;</span>
                <input class="lv" v-model="filters.lv.max"/>
              </div>
            </td>
            <td>
              <div>
                <input class="lv" v-model="filters.cj.min"/>
                <span>&nbsp;-&nbsp;</span>
                <input class="lv" v-model="filters.cj.max"/>
              </div>
            </td>
          </tr>
          <tr class="header">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <building v-for="( building, i ) in buildings" v-show="visible( building )" :building="building" :key="i"/>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
  </script>
  <script type="text/x-template" id="templates-building">
      <tr>
        <td>
          <div>
            <input type="checkbox" class="float-right" v-model="building.m"/>
            {{building.name}}
          </div>
        </td>
        <td>
          <div>
            {{building.type}}
          </div>
        </td>
        <td>
          <div>
            <input class="lv" v-model="building.lv"/>
            <span>&nbsp;/&nbsp;</span>
            <span>{{building.cap}}</span>
          </div>
        </td>
        <td>
          <div>
            <input class="lv" v-model="building.cj.lv"/>
            <span>&nbsp;/&nbsp;</span>
            <span>{{building.cj.cap}}</span>
          </div>
        </td>
      </tr>
  </script>
  <script type="text/x-template" id="templates-heroes">
    <div>
      <table class="shopheroes hero filter">
        <tbody>
          <tr class="split">
            <th class="name"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
          </tr>
          <tr class="header">
            <th>Name</th>
            <th>Power</th>
            <th>Level</th>
            <th>Type</th>
            <th>Tier</th>
            <th>Sex</th>
            <th>Building</th>
            <th></th>
          </tr>
          <tr>
            <td>
              <div>
                <input type="search" placeholder="Type in name" class="name" v-model="filters.name"/>
              </div>
            </td>
            <td>
            </td>
            <td>
              <div>
                <input class="lv" v-model="filters.lv.min"/>
                <span>&nbsp;-&nbsp</span>
                <input class="lv" v-model="filters.lv.max"/>
              </div>
            </td>
            <td>
              <div>
                <select2 v-model="filters.type" :options="options.type.list" :placeholder="'Choose type'" :tags="true" :style="'width: 100%;'"/>
              </div>
            </td>
            <td>
              <div>
                <select2 v-model="filters.tier" :options="options.tier.list" :placeholder="'Choose tier'" :nosearch="true" :style="'width: 100%;'"/>
              </div>
            </td>
            <td>
              <div>
                <select2 v-model="filters.sex" :options="options.sex.list" :placeholder="'Choose sex'" :nosearch="true" :style="'width: 100%;'"/>
              </div>
            </td>
            <td>
              <div>
                <select2 v-model="filters.building" :options="options.building.list" :placeholder="'Choose building'" :style="'width: 100%;'"/>
              </div>
            </td>
          </tr>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tbody>
        <hero v-for="( hero, i ) in heroes" v-show="visible( hero )" :hero="hero" :key="i"/>
      </table>
    </div>
  </script>
  <script type="text/x-template" id="templates-hero">
        <tbody>
          <tr class="header">
            <th>Name</th>
            <th>Power</th>
            <th>Level</th>
            <th>Type</th>
            <th>Tier</th>
            <th>Sex</th>
            <th>Building</th>
            <th></th>
          </tr>
          <tr>
            <th>
              <div>
                {{hero.name}}
              </div>
            </th>
            <td>
              <div>
                <power :power="summary.power"/>
              </div>
            </td>
            <td>
              <div>
                <input class="lv" v-model="hero.lv"/>
                <span>&nbsp;/&nbsp;</span>
                <span>{{hero.cap}}</span>
              </div>
            </td>
            <td>
              <div>
                {{hero.type}}
              </div>
            </td>
            <td>
              <div>
                Tier {{hero.tier}}
              </div>
            </td>
            <td>
              <div>
                {{hero.sex}}
              </div>
            </td>
            <td>
              <div>
                {{hero.building}}
              </div>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <th>Skills</th>
            <th>Weapon</th>
            <th>Body</th>
            <th>Head</th>
            <th>Arms</th>
            <th>Legs</th>
            <th>Accessory&nbsp;1</th>
            <th>Accessory&nbsp;2</th>
          </tr>
          <tr>
            <td>
              <skill :skill="summary.skills.hero[0]"/>
            </td>
            <td v-for="item in summary.items">
              <div v-if="!!item">
                <div class="float-left power">
                  <power :power="item.power"/>
                </div>
                <div class="float-right break">
                  {{item.chance}}%
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <skill :skill="summary.skills.hero[1]"/>
            </td>
            <td v-for="j in 7">
              <div>
                <select2 v-model="hero.slots[j-1].item" :options="equippables[j-1]" :placeholder="'Choose item'"/>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <skill :skill="summary.skills.hero[2]"/>
            </td>
            <td v-for="j in 7">
              <div>
                <select2 v-if="hero.slots[j-1].item" v-model="hero.slots[j-1].q" :options="quality.list" :placeholder="'Choose quality'" :nosearch="true"/>
              </div>
            </td>
          </tr>
          <tr>
            <th>Items Skills</th>
            <td v-for="j in 7">
              <skill :skill="summary.skills.items[j-1]"/>
            </td>
          </tr>
          <tr v-for="k in get_k( summary.info.hero.length, 7 )">
            <th>Hero Skills</th>
            <td v-for="j in 7">
              <div>
                <skill :skill="summary.info.hero[7*(k-1)+j-1]" :v="true" />
              </div>
            </td>
          </tr>
          <tr v-for="k in get_k( summary.info.team.length, 7 )">
            <th>Team Skills</th>
            <td v-for="j in 7">
              <div>
                <skill :skill="summary.info.team[7*(k-1)+j-1]" :v="true" />
              </div>
            </td>
          </tr>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tbody>
  </script>
  <script type="text/x-template" id="templates-teams">
    <div>
      <table class="shopheroes team filter">
        <tbody>
          <tr class="split">
            <th class="slot"></th>
            <th class="name"></th>
            <th class="power"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
          </tr>
          <tr class="header">
            <th><input type="button" @click="add" value="+"/></th>
            <th>Name</th>
            <th>Power</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <td>
              <div>
                <input type="search" placeholder="Type in name" class="name" v-model="filters.name"/>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tbody>
        <team v-for="( team, i ) in teams" :team="team" :key="i"/>
      </table>
    </div>
  </script>
  <script type="text/x-template" id="templates-team">
        <tbody>
          <tr>
            <th class="slot"></th>
            <th class="name">Team</th>
            <th class="power">Power</th>
            <th class="item">Weapon</th>
            <th class="item">Body</th>
            <th class="item">Head</th>
            <th class="item">Arms</th>
            <th class="item">Legs</th>
            <th class="item">Accessory&nbsp;1</th>
            <th class="item">Accessory&nbsp;2</th>
          </tr>
          <tr>
            <th><input type="button" value="x" @click="remove( team )"/></th>
            <th>{{team.name}}</th>
            <td><power :power="summary.power"/></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr v-for="( hero, i ) in summary.roster" v-show="i < summary.companions">
            <td>#{{i+1}}</td>
            <td>
              <div>
                <select2 v-model="team.roster[i]" :options="options( team.roster[i] )"/>
              </div>
            </td>
            <td>
              <div>
                <power :power="hero.power"/>
              </div>
            </td>
            <td v-for="j in 7">
              <div v-if="!!hero.items[j-1]" :class="hero.items[j-1].q">
                {{hero.items[j-1].name}}
              </div>
            </td>
          </tr>
          <tr v-for="k in get_k( summary.skills.length, 7 )">
            <th></th>
            <th>Skills</th>
            <td></td>
            <td v-for="j in 7">
              <skill :skill="summary.skills[7*(k-1)+j-1]" :v="true"/>
            </td>
          </tr>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>
  </script>
</html>