<!DOCTYPE html>
<html>
  <head>
    <title>Shop Heroes Team Builder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="Description" content=""/>
    <link rel="stylesheet" type="text/css" href="jquery/css/jquery-ui.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="select2/css/select2.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="css/sh.css?v=2.3.6" media="screen"/>
    <link rel="stylesheet" type="text/css" href="css/icons.css?v=2.3.6" media="screen"/>
    <link rel="stylesheet" type="text/css" href="css/tooltip.css?v=2.3.6" media="screen"/>
    <script type="text/javascript" src="jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="jquery/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="select2/js/select2.min.js"></script>
    <script type="text/javascript" src="vue/js/vue.js"></script>
    <script type="text/javascript" src="js/styles.js?v=2.3.6"></script>
    <script type="text/javascript" src="js/cache.js?v=2.3.6"></script>
    <script type="text/javascript" src="data/supplementaries.js?v=2.3.6"></script>
    <script type="text/javascript" src="data/skills.js?v=2.3.6"></script>
    <script type="text/javascript" src="data/buildings.js?v=2.3.6"></script>
    <script type="text/javascript" src="data/items.js?v=2.3.6"></script>
    <script type="text/javascript" src="data/heroes.js?v=2.3.6"></script>
    <script type="text/javascript" src="js/main.js?v=2.3.6"></script>
  </head>
  <body>
    <div id="tabs">
      <ul>
        <li>
          <a href="#tabs-teams">Teams</a>
        </li>
        <li>
          <a href="#tabs-heroes">Heroes</a>
        </li>
        <li>
          <a href="#tabs-items">Items</a>
        </li>
        <li>
          <a href="#tabs-buildings">Buildings</a>
        </li>
        <li>
          <a href="#tabs-data">Data</a>
        </li>
        <li>
          <a href="#tabs-help">Help</a>
        </li>
      </ul>
      <div id="tabs-help">
        <h1>Hello, visitor!</h1>
        <p>
        <p>The main idea of this site is to provide functionality for building team setups.</p>
        <p>I developed this site to use it in offline mode, it doesn't use server as backend, so you can't share links on setups, nor you can share your setups between different medias.</p>
        <p>Well, lies, you actually can share setups, that's why there's Data tab, but using it is tricky.</p>

        <h2>Credits</h2>
        <p>I want to thank all those people created and maintaining <a href="http://bit.ly/shopheroes" target="_blank">Shop Heroes Spreadsheet</a> for this is an increadible source of ingame data!</p>
        <p>And I give my due respects to creators of Team Builder Redux for insiping me to make this site.</p>
        
        <h2>Basics</h2>
        <p>Adjust your heroes, items and city upgrades at appropriate tabs:
        <ul>
        <li>at <b>Heroes</b> tab you can adjust heroes levels;</li>
        <li>at <b>Items</b> tab you can adjust which items skills you have mastered. Mark them with checkbox;</li>
        <li>at <b>Buildings</b> tab adjust building level and crown jewels upgrades level.</li>
        </ul>
        All those tables can be filtered many ways, so you can faster navigate to specific item/hero you need.
        </p>

        <h2>Teams</h2>
        <p>Now you can proceed to <b>Teams</b> tab and start your party assembling</p>
        <p>First add new team by clicking <i>plus</i> button.</p>
        <p>Now you can start edit it by clicking <i>pencil</i> button on the left of team name. Set the team name and add heroes to it's roster. Checkbox near hero power emulates bulding boost bonus.</p>
        
        <h2>Data</h2>
        <p>You can export and import custom data (ie changes info).</p>
        <p>Select an option and do what you want:
        <ul>
        <li>click <b>Clean</b> button to clear all changes made to base info but beware as this is unrecoverable operation;</li>
        <li>click <b>Get</b> button to get all changed data to a text area below - you can save it to a file for future use;</li>
        <li>place previously custom changes to text area and click <b>Set</b> button to load new custom data.</li>
        </ul>
        </p>
        
        <h2>Have fun in game!</h2>
        <p>You can help developing site!</p>
        <p>Send me email with your feedback to <a href="mailto:zarusjamer@gmail.com?subject=Shop Heroes Team Builder">zarusjamer@gmail.com</a>.</p>
        <p>You can also contribute code and designs at <a href="https://github.com/zarusjamer/shopheroes">Git Hub</a> project page.</p>
      </div>
      <div id="tabs-data">
        <div>
          <select id="tabs-data-type">
            <option value="buildings">Buildings</option>
            <option value="items">Items</option>
            <option value="heroes">Heroes</option>
            <option value="teams">Teams</option>
          </select>
          <input id="tabs-data-clean" type="button" value="Clean"/>
          <input id="tabs-data-get" type="button" value="Get"/>
          <input id="tabs-data-set" type="button" value="Set"/>
        </div>
        <div>
          <textarea id="tabs-data-json"></textarea>
        </div>
      </div>
      <div id="tabs-heroes">
      </div>
      <div id="tabs-teams">
      </div>
      <div id="tabs-items">
      </div>
      <div id="tabs-buildings">
      </div>
    </div>
  </body>
  <script type="text/x-template" id="templates-select2">
    <select>
      <slot/>
    </select>
  </script>
  <script type="text/x-template" id="templates-power">
    <span v-if="power.value" class="float left power-info">
      <span class="htooltip icon Power">
        <span v-if="!!power.info">{{power.info}}</span>
      </span>
      <span>{{power.value.intString()}}</span>
    </span>
  </script>
  <script type="text/x-template" id="templates-skill">
    <span v-if="skill" class="skill-info left">
      <input v-if="view == 'item'" type="checkbox" class="float right" v-model="skill.m" />
      <span class="float left">
        <span class="htooltip icon skill" :class="[ summary.icon ]">
          <span>{{summary.info}}</span>
        </span>
        <span :class="{inactive: ( view != 'item' ) && !skill.active}">{{skill.name}}</span>
      </span>
      <span class="float right">{{summary.value}}</span>
    </span>
  </script>
  <script type="text/x-template" id="templates-item-slot">
    <span class="htooltip icon item" :class="[ itemSlot.type, 'affinity' + itemSlot.a ]">
      <span>{{summary}}</span>
    </span>
  </script>
  <script type="text/x-template" id="templates-items">
    <div>
      <table class="shopheroes item">
        <thead>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th class="name">Name</th>
            <th class="type">Type</th>
            <th class="level">Level</th>
            <th class="power">Power</th>
            <th class="item">Skill</th>
          </tr>
          <tr>
            <td>
              <div>
                <input type="search" placeholder="Type in name" class="name" v-model="filters.name"/>
              </div>
            </td>
            <td>
              <div>
                <select2 v-model="filters.type" :options="options.type.list" :placeholder="'Choose type'"/>
              </div>
            </td>
            <td>
              <div>
                <input type="number" class="lv" v-model.number="filters.lv.min"/>
                <span>&nbsp;-&nbsp;</span>
                <input type="number" class="lv" v-model.number="filters.lv.max"/>
              </div>
            </td>
            <td/>
            <td>
              <div>
                <select2 v-model="filters.skill" :options="options.skills.list" :placeholder="'Choose skill'" :tags="true"/>
              </div>
            </td>
          </tr>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <item v-for="( item, i ) in items" v-show="visible( item )" :item="item" :key="i"/>
        </tbody>
        <tfoot>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </script>
  <script type="text/x-template" id="templates-item">
      <tr>
        <th>
          <div>
            <span>{{item.name}}</span>
          </div>
        </th>
        <td>
          <div>
            <span class="float left icon item" :class="[ item.type ]"></span>
            <span>{{item.type}}</span>
          </div>
        </td>
        <td>
          <div>
            <span>{{item.lv}}</span>
          </div>
        </td>
        <td>
          <div>
            <power :power="{ value: item.power }"/>
          </div>
        </td>
        <td>
          <div>
            <skill :skill="item.skill" :view="'item'" />
          </div>
        </td>
      </tr>
  </script>
  <script type="text/x-template" id="templates-buildings">
    <div>
      <table class="shopheroes building">
        <thead>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th class="name">Name</th>
            <th class="type">Type</th>
            <th class="level">Level</th>
            <th class="level">CJs Level</th>
          </tr>
          <tr>
            <td>
              <div>
                <input type="search" placeholder="Type in name" class="name" v-model="filters.name"/>
              </div>
            </td>
            <td>
              <div>
                <select2 v-model="filters.type" :options="options.type.list" :placeholder="'Choose type'""/>
              </div>
            </td>
            <td>
              <div>
                <input type="number" class="lv" v-model.number="filters.lv.min"/>
                <span>&nbsp;-&nbsp;</span>
                <input type="number" class="lv" v-model.number="filters.lv.max"/>
              </div>
            </td>
            <td>
              <div>
                <input type="number" class="lv" v-model.number="filters.cj.min"/>
                <span>&nbsp;-&nbsp;</span>
                <input type="number" class="lv" v-model.number="filters.cj.max"/>
              </div>
            </td>
          </tr>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <building v-for="( building, i ) in buildings" v-show="visible( building )" :building="building" :key="i"/>
        </tbody>
        <tfoot>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </script>
  <script type="text/x-template" id="templates-building">
      <tr>
        <th>
          <span>{{building.name}}</span>
        </th>
        <td>
          <span>{{building.type}}</span>
        </td>
        <td>
          <div>
            <input type="number" class="lv" v-model.number.lazy="building.lv"/>
            <span>&nbsp;/&nbsp;</span>
            <span>{{building.cap}}</span>
          </div>
        </td>
        <td>
          <div>
            <input type="number" class="lv" v-model.number.lazy="building.cj.lv"/>
            <span>&nbsp;/&nbsp;</span>
            <span>{{building.cj.cap}}</span>
          </div>
        </td>
      </tr>
  </script>
  <script type="text/x-template" id="templates-heroes">
    <div>
      <table class="shopheroes hero filter">
        <thead>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th class="name">Name</th>
            <th class="level">Level</th>
            <th class="type">Type</th>
            <th class="item">Tier</th>
            <th class="item">Sex</th>
            <th class="item">Building</th>
          </tr>
          <tr>
            <td>
              <div>
                <input type="search" placeholder="Type in name" class="name" v-model="filters.name"/>
              </div>
            </td>
            <td>
              <div>
                <input type="number" class="lv" v-model.number="filters.lv.min"/>
                <span>&nbsp;-&nbsp</span>
                <input type="number" class="lv" v-model.number="filters.lv.max"/>
              </div>
            </td>
            <td>
              <div>
                <select2 v-model="filters.type" :options="options.type.list" :placeholder="'Choose type'" :tags="true""/>
              </div>
            </td>
            <td>
              <div>
                <select2 v-model="filters.tier" :options="options.tier.list" :placeholder="'Choose tier'" :nosearch="true""/>
              </div>
            </td>
            <td>
              <div>
                <select2 v-model="filters.sex" :options="options.sex.list" :placeholder="'Choose sex'" :nosearch="true""/>
              </div>
            </td>
            <td>
              <div>
                <select2 v-model="filters.origin" :options="options.building.list" :placeholder="'Choose building'""/>
              </div>
            </td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">Equipment</th>
            <th>Skill #1</th>
            <th>Skill #2</th>
            <th>Skill #3</th>
          </tr>
          <tr>
            <td>
            </td>
            <td colspan="2">
            </td>
            <td colspan="3">
              <div>
                <select2 v-model="filters.skill" :options="options.skills.list" :placeholder="'Choose skill'" :tags="true""/>
              </div>
            </td>
          </tr>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <hero v-for="( hero, i ) in heroes" v-show="visible( hero )" :hero="hero" :key="i"/>
        <tfoot>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </script>
  <script type="text/x-template" id="templates-hero">
        <tbody>
          <tr class="split">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th rowspan="2">
              <div>
                <span class="power-info left">
                  <span class="float left icon medium hero" :class="hero.name.replace( /\s+/g, '' )"></span>
                  <span>{{hero.name}}</span>
                </span>
              </div>
            </th>
            <td>
              <div>
                <input type="number" class="lv" v-model.number.lazy="hero.lv"/>
                <span>&nbsp;/&nbsp;</span>
                <span>{{hero.cap}}</span>
              </div>
            </td>
            <td>
              <div>
                <span>{{hero.type}}</span>
              </div>
            </td>
            <td>
              <div>
                <span>Tier {{hero.tier}}</span>
              </div>
            </td>
            <td>
              <div>
                <span>{{hero.sex}}</span>
              </div>
            </td>
            <td>
              <div>
                <span>{{hero.origin}}</span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="left">
              <span v-for="j in 7">
                <item-slot v-for="( slot, i ) in hero.slots[j-1].list" :item-slot="slot" :key="i"/>
              </span>
            </td>
            <td v-for="k in 3">
              <div>
                <skill :skill="skills[k-1]" :view="'hero'"/>
              </div>
            </td>
          </tr>
        </tbody>  
  </script>
  <script type="text/x-template" id="templates-teams">
    <div>
      <table class="shopheroes team filter">
        <thead>
          <tr class="split">
            <th class="slot"></th>
            <th class="item" colspan="2"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
            <th class="item"></th>
          </tr>
          <tr class="split">
            <th></th>
            <th colspan="2"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th>
              <span class="button add" @click="add"/>
            </th>
            <th colspan="2">
              Name
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <td colspan="2">
              <div>
                <input type="search" placeholder="Type in name" class="name" v-model="filters.name"/>
              </div>
            </td>
            <td>
              <span class="button undo float left" @click="undo" :class="history.pos == 0 ? 'hidden' : ''"/>
              <span class="button redo float right" @click="redo" :class="history.pos == history.states.length - 1 ? 'hidden' : ''"/>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <team v-for="( team, i ) in teams" v-show="visible( team )" :team="team" :key="i"/>
        <tfoot>
          <tr class="split">
            <th></th>
            <th colspan="2"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr class="split">
            <th></th>
            <th colspan="2"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </script>
  <script type="text/x-template" id="templates-team">
        <tbody>
          <tr class="split">
            <th></th>
            <th colspan="2"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr class="split">
            <th></th>
            <th colspan="2"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <th>
              <div>
                <span class="button remove float left" @click="remove( team )"/>
              </div>
            </th>
            <th colspan="2" class="left">
              <div>
                <span class="button float left" :class="edit ? 'apply' : 'edit'" @click="edit = !edit" style="line-height: 1.5em;"/>
                <input v-if="edit" v-model="team.name"/>
                <span v-else>{{team.name}}</span>
              </div>
            </th>
            <th class="left">
              <div>
                <power :power="summary.power"/>
              </div>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <template v-if="summary.skills">
            <tr v-for="k in get_k( summary.skills.length, 8 )">
              <th></th>
              <td v-for="j in 8" :colspan="[ j == 1 ? 2 : 1 ]">
                <div>
                  <skill :skill="summary.skills[8*(k-1)+j-1]" :view="'hero'" />
                </div>
              </td>
            </tr>
          </template>
          <tr class="split">
            <th></th>
            <th colspan="2"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <template v-for="k in summary.companions" v-if="( edit || team.roster[k-1].name )">
            <template v-for="th in [ team.roster[k-1] ]">
              <template v-for="sh in [ summary.roster[k-1] ]">
                <tr>
                  <th>
                    <div>
                      <span>#{{k}}</span>
                    </div>
                  </th>
                  <th class="left" :rowspan="[ th.name ? 2 : 1 ]">
                    <div v-if="th.name">
                      <span class="float left icon medium hero" :class="th.name.replace( /\s+/g, '' )"></span>
                    </div>
                  </th>
                  <th class="left">
                    <div>
                      <select2 v-if="edit" v-model="team.roster[k-1].name" :options="options.heroes.list" :placeholder="'Choose hero'"/>
                      <span class="power-info" v-else>
                        <span>{{th.name}}</span>
                      </span>
                    </div>
                  </th>
                  <th class="left" v-for="j in 7">
                    <div>
                      <item-slot v-for="( slot, i ) in sh.hero.slots[j-1].list" :item-slot="slot" :key="i"/>
                    </div>  
                  </th>
                </tr>
                <tr v-if="th.name">
                  <th></th>
                  <td class="left">
                    <div>
                      <span class="float right" v-if="sh.building.b">
                        <input type="checkbox" v-model="th.b" @click="set_boost( sh, th.b )"/>
                      </span>
                      <power :power="sh.power"/>
                    </div>
                  </td>
                  <td v-for="j in 7">
                    <div v-if="sh.items[j-1]">
                      <power :power="sh.items[j-1].power"/>
                      <span class="float right break">{{sh.items[j-1].chance}}%</span>
                    </div>
                  </td>
                </tr>
                <tr v-if="th.name">
                  <th></th>
                  <td colspan="2">
                    <div>
                      <skill :skill="sh.skills.hero[0]" view="'hero'"/>
                    </div>  
                  </td>
                  <td v-for="j in 7">
                    <div v-if="sh.items[j-1]">
                      <select2 v-if="edit" v-model="th.slots[j-1].item" :options="sh.items[j-1].list" :placeholder="'Choose item'"/>
                      <span v-else>{{th.slots[j-1].q}}</span>
                    </div>
                  </td>
                </tr>
                <tr v-if="th.name">
                  <th></th>
                  <td colspan="2">
                    <div>
                      <skill :skill="sh.skills.hero[1]" view="'hero'"/>
                    </div>
                  </td>
                  <td v-for="j in 7">
                    <div v-if="sh.items[j-1]">
                      <select2 v-if="edit" v-model="th.slots[j-1].q" :options="options.quality.list" :placeholder="'Choose quality'"/>
                      <span v-else>{{th.slots[j-1].item}}</span>
                    </div>
                  </td>
                </tr>
                <tr v-if="th.name">
                  <th></th>
                  <td colspan="2">
                    <div>
                      <skill :skill="sh.skills.hero[2]" view="'hero'"/>
                    </div>
                  </td>
                  <td v-for="j in 7">
                    <div v-if="sh.skills.items[j-1]">
                      <skill :skill="sh.skills.items[j-1]" :view="'hero'"/>
                    </div>
                  </td>
                </tr>
              </template>
            </template>
          </template>
        </tbody>
    </div>
  </script>
</html>